{erl_opts, [{i, "./_build/default/plugins/gpb/include"}]}.
{deps, []}.

{gpb_opts, [
    {recursive, true},
    {i, "priv/protos"},
    {ipath, "_build/default/plugins/gpb/priv/proto3/"},
    use_packages,
    {module_name_suffix, "_pb"},
    {o_erl, "src/protos"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    type_specs]}.

{gpb_rpc_opts, [
    {router_module, "rpc_router"}, %% default is router.proto
    {router_enum, "router_service"}, %% default is router_service
    {o_erl, "src/rpc"}
]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{plugins, [
    rebar3_gpb_plugin,
    {rebar3_gpb_rpc, {git, "https://github.com/zhongwencool/rebar3_gpb_rpc", {branch, "master"}}}
]}.